<!DOCTYPE html>
<html lang="ja">
<head>
  <mata charset="utf-8">
  <title><%= @main_title %></title>
</head>
<body>
  <h1><%= @main_title %></h1>
  <p><%= @title %></p>
  <p><%= @content.gsub(/\n/, '<br/>') %></p>
  <button type="button" onclick="location.href='/new'"><%= @button %></button>
  <p><%= Time.now %></p>
</body>
</html>
